# QUESTION 1

In [ ]:
import pandas as pd
df = pd.read_csv('services.csv') # This reads the csv file

In [ ]:
df.columns[0] # It shows the column at index 0, i.e. first column

In [ ]:
df.describe() # This gives statistics aboutdata, mostly numerical data in case there are any numerical columns

In [ ]:
df.dtypes # This tells the data type of each column

In [ ]:
df.count() #This gives count of rows for each column

# QUESTION 2

Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
data = {'A': ['ABC','BCD','CDE','EFG','GHI'],
        'B': [1,2,3,4,5],
        'C': ['BCD','CDE','EFG','GHU','BWW']}

In [ ]:
df1 = pd.DataFrame(data)

In [ ]:
df1

In [ ]:
df1.reindex(index ={1,3,5,7,9})

# QUESTION 3

You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [ ]:
data3 = {'A': ['ABC','BCD','CDE','EFG','GHI'],
        'values': [1,2,3,4,5],
        'C': ['BCD','CDE','EFG','GHU','BWW']}

In [ ]:
df3 = pd.DataFrame(data3)

In [ ]:
df3

In [ ]:
df3_print = df3['values'][0:3].sum()
print(df3_print)

# QUESTION 4

Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
data4 = {'Text': ['ABC','BCD cde','CDE','EFG','GHI'],
        'B': [1,2,3,4,5],
        'C': ['BCD','CDE','EFG','GHU','BWW']}

df4 = pd.DataFrame(data4)

In [ ]:
df4['Word_Count'] = df4['Text'].str.split().str.len()

In [ ]:
df4

# QUESTION 5

How are DataFrame.size() and DataFrame.shape() different?

Syntax: dataframe.size
Return : Returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns.

Syntax: dataframe.shape
Return : Returns tuple of shape (Rows, columns) of dataframe/series

# QUESTION 6

read_excel()

# QUESTION 7

You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [ ]:
email = {'address':('username@domain.com','rajat@gmail.com')}

In [ ]:
df_email = pd.DataFrame(email)

In [ ]:
df_email['Username'] = df_email['address'].str.split('@').str.get(0)

In [ ]:
df_email

# QUESTION 8

You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [ ]:
data8 = {'A': [7,8,9,3,6],
        'B': [1,2,13,4,5],
        'C': ['BCD','CDE','EFG','GHU','BWW']}

In [ ]:
data8_df = pd.DataFrame(data8)

In [ ]:
df8 = data8_df[(data8_df['A'] > 5) & (data8_df['B'] < 10)]

In [ ]:
df8

# QUESTION 9

Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [ ]:
data9 = {'A': ['ABC','BCD','CDE','EFG','GHI'],
        'values': [1,2,3,4,5],
        'C': ['BCD','CDE','EFG','GHU','BWW']}
df = pd.DataFrame(data9)

In [ ]:
df['values'].mean()

In [ ]:
df['values'].median()

In [ ]:
df['values'].std()

# QUESTION 10

Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [ ]:
df10 = pd.read_csv('RELIANCE.NS_.csv')

In [ ]:
df10 = pd.DataFrame(df10)

In [ ]:
df10

In [ ]:
df10['SMA7'] = df10['Close'].rolling(7).mean()

# QUESTION 11

You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [ ]:
import datetime

In [ ]:
type(df10['Date'])

In [ ]:
df10['Date'] = pd.to_datetime(df10['Date'])

In [ ]:
df10['Weekday'] = df10['Date'].dt.day_name()

In [ ]:
df10

# QUESTION 12

Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [211]:
df10[(df10['Date'] > '2023-01-01') & (df10['Date'] < '2023-01-31') ]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SMA30, SMA7, Weekday]
Index: []

# QUESTION 13

To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

import pandas as pd