# QUESTION 1

In [1]:
""" A database is a collection of data that is stored in table/tables. SQL is for structured data like an excel file and nosql is for 
unstructured data like a text file which doesn't have any order"""

" A database is a collection of data that is stored in table/tables. SQL is for structured data like an excel file and nosql is for \nunstructured data like a text file which doesn't have any order"

# QUESTION 2

In [3]:
"""DDL is data definition language.

CREATE is used to create a database/table 
cur.execute("CREATE TABLE test")
DROP is used to delete a table
cur.execute("DROP TABLE test")
ALTER is used to change the characteristics of a table. Alters data definition of contacts table to add a column.
cur.execute("ALTER TABLE test.contacts ADD COLUMN IF NOT EXISTS (contact_since INT)")
Truncates contacts table, and removes all data from the table"", 
cur.execute("TRUNCATE test.contacts")"""

'DDL is data definition language.\n\nCREATE is used to create a database/table \ncur.execute("CREATE TABLE test")\nDROP is used to delete a table\ncur.execute("DROP TABLE test")\nALTER is used to change the characteristics of a table. Alters data definition of contacts table to add a column.\ncur.execute("ALTER TABLE test.contacts ADD COLUMN IF NOT EXISTS (contact_since INT)")\nTruncates contacts table, and removes all data from the table"", \ncur.execute("TRUNCATE test.contacts")'

# QUESTION 3

In [4]:
""" DML is data manipulation language. It used to manipulate data on the table.
INSERT inserts data into the table, UPDATE updates a particular set of data, Delete removes the data from the table.

    cur.execute("INSERT INTO test.contacts(first_name, last_name, email) VALUES (?, ?, ?)",
    cur.execute("UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'")
    cur.execute("DELETE FROM customers WHERE address = 'Mountain 21")
"""

' DML is data manipulation language. It used to manipulate data on the table.\nINSERT inserts data into the table, UPDATE updates a particular set of data, Delete removes the data from the table.\n\n    cur.execute("INSERT INTO test.contacts(first_name, last_name, email) VALUES (?, ?, ?)",\n    cur.execute("UPDATE customers SET address = \'Canyon 123\' WHERE address = \'Valley 345\'")\n    cur.execute("DELETE FROM customers WHERE address = \'Mountain 21")\n'

# QUESTION 4

In [6]:
""" DQL is  Data Query Language.
It is nothing but the select statement which fetches the required columns based on user parameters
cur.execute("select * FROM customers WHERE address = 'Mountain 21")"""

' DQL is  Data Query Language.\nIt is nothing but the select statement which fetches the required columns based on user parameters\ncur.execute("select * FROM customers WHERE address = \'Mountain 21")'

# QUESTION 5

In [7]:
""" primary key is a unique identifier for a table, for example roll number in an exam, which identifies a person uniquely and can't 
be duplicate for anyone. Foreign key is a column in a table which has its own table and there it resides as its own primary key.
for example department no can be a foreign key in a college since multiple people can be in same department but department table will have 
a single mention of it"""

" primary key is a unique identifier for a table, for example roll number in an exam, which identifies a person uniquely and can't \nbe duplicate for anyone. Foreign key is a column in a table which has its own table and there it resides as its own primary key.\nfor example department no can be a foreign key in a college since multiple people can be in same department but department table will have \na single mention of it"

# QUESTION 6

In [13]:
"""
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

print(mydb)
Cursor is an object that is used to make the connection for executing SQL queries. It acts as middleware between database connection
and SQL query. It is created after giving connection to SQL database.
Execute is used to execute sql command within the cursor object, if we want to select we give select, if we want to insert we give insert"""

'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\n\nprint(mydb)\nCursor is an object that is used to make the connection for executing SQL queries. It acts as middleware between database connection\nand SQL query. It is created after giving connection to SQL database.\nExecute is used to execute sql command within the cursor object, if we want to select we give select, if we want to insert we give insert'

# QUESTION 7

In [14]:
"""Order of Execution
SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.

From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.

"""

'Order of Execution\nSQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.\n\nFrom the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.\n\nThe order in which the clauses in queries are executed is as follows:\n\n1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.\n\n2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.\n\n3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.\n\n4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.\n\n5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.\n\n6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.\n\n7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.\n\n'