# QUESTION1

In [18]:
import pandas as pd

In [2]:
series = [4,8,15,16,23,42]

In [7]:
a = pd.Series(series)

In [9]:
type(a)

pandas.core.series.Series

In [10]:
print(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# QUESTION2

In [11]:
lst = [1,2,3,4,5,6,77,8,9,0]

In [12]:
print(pd.Series(lst))

0     1
1     2
2     3
3     4
4     5
5     6
6    77
7     8
8     9
9     0
dtype: int64

# QUESTION 3

In [20]:
data = [['Alice', 25,'Female'], ['Bob', 30,'Male'], ['Claire', 27,'Female']]

In [26]:
pd.DataFrame(data,columns = ['Name','Age','Gender'],index = None)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# QUESTION 4

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

In [28]:
#Importing Pandas library
import pandas as pd

#Creating two lists
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
#Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
#Creating a dictionary by passing Series objects as values
frame = { 'Author': auth_series, 'Article': article_series }
#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
#Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

# QUESTION 5

read_csv(),read_excel(),head(),tail(),fillna()

head(n) is used to return the first n rows of a dataset. By default, df.head() will return the first 5 rows of the DataFrame. If you want more/less number of rows, you can specify n as an integer

read_csv() function helps read a comma-separated values (csv) file into a Pandas DataFrame. All you need to do is mention the path of the file you want it to read. It can also read files separated by delimiters other than comma, like | or tab.

fillna() helps to replace all NaN values in a DataFrame or Series by imputing these missing values with more appropriate values.

# QUESTION 6


Mutability. All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.

# QUESTION 7

In [29]:
#Importing Pandas library
import pandas as pd

#Creating two lists
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
#Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
#Creating a dictionary by passing Series objects as values
frame = { 'Author': auth_series, 'Article': article_series }
#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
#Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178