# QUESTION 1

Explain the assumptions required to use ANOVA and provide examples of violations that could impact
the validity of the results.

There are three primary assumptions in ANOVA: The responses for each factor level have a normal population distribution. These distributions have the same variance. The data are independent.

A lack of independence of cases has been stated as the most serious assumption to fail

# QUESTION 2

What are the three types of ANOVA, and in what situations would each be used?

There are two main types: one-way and two-way. Two-way tests can be with or without replication. One-way ANOVA between groups: used when you want to test two groups to see if there's a difference between them. Two way ANOVA without replication: used when you have one group and you're double-testing that same group.

# QUESTION 3

What is the partitioning of variance in ANOVA, and why is it important to understand this concept?

ANOVA is the partitioning of variation as per the assignable causes and random component and by this partitioning ANOVA technique may be used as a method for testing significance of difference among means

# QUESTION 4

How would you calculate the total sum of squares (SST), explained sum of squares (SSE), and residual
sum of squares (SSR) in a one-way ANOVA using Python?


The sum of squares total, denoted SST, is the squared differences between the observed dependent variable and its mean. You can think of this as the dispersion of the observed variables around the mean – much like the variance in descriptive statistics.The second term is the sum of squares due to regression, or SSR. It is the sum of the differences between the predicted value and the mean of the dependent variable. Think of it as a measure that describes how well our line fits the data.The last term is the sum of squares error, or SSE. The error is the difference between the observed value and the predicted value.

# QUESTION 5

In a two-way ANOVA, how would
you calculate the main effects and interaction effects using Python?

In [2]:
# Importing libraries
import numpy as np
import pandas as pd

# Create a dataframe
dataframe = pd.DataFrame({'Fertilizer': np.repeat(['daily', 'weekly'], 15),
						'Watering': np.repeat(['daily', 'weekly'], 15),
						'height': [14, 16, 15, 15, 16, 13, 12, 11, 14,
									15, 16, 16, 17, 18, 14, 13, 14, 14,
									14, 15, 16, 16, 17, 18, 14, 13, 14,
									14, 14, 15]})

In [4]:
# Importing libraries
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Performing two-way ANOVA
model = ols(
	'height ~ C(Fertilizer) + C(Watering) +\
	C(Fertilizer):C(Watering)', data=dataframe).fit()
sm.stats.anova_lm(model, typ=2)

                                 sum_sq    df             F    PR(>F)
C(Fertilizer)              4.390651e-13   1.0  1.589719e-13  1.000000
C(Watering)                8.630952e-02   1.0  3.125000e-02  0.860956
C(Fertilizer):C(Watering)  3.333333e-02   1.0  1.206897e-02  0.913305
Residual                   7.733333e+01  28.0           NaN       NaN

In [5]:
# Importing libraries
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Create a dataframe
dataframe = pd.DataFrame({'Fertilizer': np.repeat(['daily', 'weekly'], 15),
						'Watering': np.repeat(['daily', 'weekly'], 15),
						'height': [14, 16, 15, 15, 16, 13, 12, 11,
									14, 15, 16, 16, 17, 18, 14, 13,
									14, 14, 14, 15, 16, 16, 17, 18,
									14, 13, 14, 14, 14, 15]})


# Performing two-way ANOVA
model = ols('height ~ C(Fertilizer) + C(Watering) +\
C(Fertilizer):C(Watering)',
			data=dataframe).fit()
result = sm.stats.anova_lm(model, type=2)

# Print the result
print(result)

                             df     sum_sq   mean_sq         F    PR(>F)
C(Fertilizer)               1.0   0.033333  0.033333  0.012069  0.913305
C(Watering)                 1.0   0.000369  0.000369  0.000133  0.990865
C(Fertilizer):C(Watering)   1.0   0.040866  0.040866  0.014796  0.904053
Residual                   28.0  77.333333  2.761905       NaN       NaN

In [6]:
dataframe

   Fertilizer Watering  height
0       daily    daily      14
1       daily    daily      16
2       daily    daily      15
3       daily    daily      15
4       daily    daily      16
5       daily    daily      13
6       daily    daily      12
7       daily    daily      11
8       daily    daily      14
9       daily    daily      15
10      daily    daily      16
11      daily    daily      16
12      daily    daily      17
13      daily    daily      18
14      daily    daily      14
15     weekly   weekly      13
16     weekly   weekly      14
17     weekly   weekly      14
18     weekly   weekly      14
19     weekly   weekly      15
20     weekly   weekly      16
21     weekly   weekly      16
22     weekly   weekly      17
23     weekly   weekly      18
24     weekly   weekly      14
25     weekly   weekly      13
26     weekly   weekly      14
27     weekly   weekly      14
28     weekly   weekly      14
29     weekly   weekly      15

# QUESTION 6

Suppose you conducted a one-way ANOVA and obtained an F-statistic of 5.23 and a p-value of 0.02.
What can you conclude about the differences between the groups, and how would you interpret these
results?

The lower the p value is for a given ratio, the more reliably we can reject the null hypothesis that a particular source or model or parameter is not significant. The differences between the group is quite significant.

# QUESTION 7

In a repeated measures ANOVA, how would you handle missing data, and what are the potential
consequences of using different methods to handle missing data?

Deletion of missing data is one option or filling of missing data with its closest neighbor. The problem is that repeated measures ANOVA treats each measurement as a separate variable. Because it uses listwise deletion, if one measurement is missing, the entire case gets dropped.

# QUESTION 8

What are some common post-hoc tests used after ANOVA, and when would you use each one? Provide
an example of a situation where a post-hoc test might be necessary.

Post hoc tests are an integral part of ANOVA. When you use ANOVA to test the equality of at least three group means, statistically significant results indicate that not all of the group means are equal. However, ANOVA results do not identify which particular differences between pairs of means are significant. Use post hoc tests to explore differences between multiple group means while controlling the experiment-wise error rate.

If the p-value from your ANOVA F-test or Welch’s test is less than your significance level, you can reject the null hypothesis.

Example of Using Dunnett’s Method to Compare Treatment Groups to a Control Group
If your study has a control group and several treatment groups, you might need to compare the treatment groups only to the control group.

Use Dunnett’s method when the following are true:

Before the study, you know which group (control) you want to compare to all the other groups (treatments).
You don’t need to compare the treatment groups to each other.

Example of Using Hsu’s MCB to Find the Strongest Material
If your study’s goal is to identify the best group, you might not need to compare all possible groups. Hsu’s Multiple Comparisons to the Best (MCB) identifies the groups that are the best, insignificantly different from the best, and significantly different from the best.

Use Hsu’s MCB when you:

Don’t know in advance which group you want to compare to all the other groups.
Don’t need to compare groups that are not the best to other groups that are not the best.
Can define “the best” as either the group with the highest mean or the lowest mean.

# QUESTION 9

A researcher wants to compare the mean weight loss of three diets: A, B, and C. They collect data from
50 participants who were randomly assigned to one of the diets. Conduct a one-way ANOVA using Python
to determine if there are any significant differences between the mean weight loss of the three diets.
Report the F-statistic and p-value, and interpret the results.

In [9]:
# Importing library
from scipy.stats import f_oneway

diet1 = [1,2,1,1,0,1,1,2,3,1,1,2,3,1,2,2,1,2,1]
diet2 = [1.5, 1,1,1,1,2,3,1,2,2,2,1,2,1,3,4,1,5]
diet33 = [2.5,1,2,3,1,2,1,3,1,2,4,5,1,1,1,0]


# Conduct the one-way ANOVA
f_oneway(diet1,diet2,diet33)

F_onewayResult(statistic=0.9755111545203456, pvalue=0.38405874133622464)

# QUESTION 10

A company wants to know if there are any significant differences in the average time it takes to
complete a task using three different software programs: Program A, Program B, and Program C. They
randomly assign 30 employees to one of the programs and record the time it takes each employee to
complete the task. Conduct a two-way ANOVA using Python to determine if there are any main effects or
interaction effects between the software programs and employee experience level (novice vs.
experienced). Report the F-statistics and p-values, and interpret the results.

In [16]:
# Importing libraries
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Create a dataframe
dataframe = pd.DataFrame({'ProgramA': [2,1,1,1,2,1,4,1,3,1],
						'ProgramB': [1,2,1,1,1,2,3,1,2,1],
						'ProgramC': [3,1,3,1,1,2,2,2,1,2]})

In [18]:
dataframe

   ProgramA  ProgramB  ProgramC
0         2         1         3
1         1         2         1
2         1         1         3
3         1         1         1
4         2         1         1
5         1         2         2
6         4         3         2
7         1         1         2
8         3         2         1
9         1         1         2

In [31]:
# Performing two-way ANOVA
model = ols(
            'ProgramC ~ C(ProgramA) + C(ProgramB)', data=dataframe).fit()
result = sm.stats.anova_lm(model, type=2)

# Print the result
print(result)

              df    sum_sq   mean_sq         F    PR(>F)
C(ProgramA)  3.0  0.766667  0.255556  0.283951  0.835475
C(ProgramB)  2.0  1.860552  0.930276  1.033640  0.421012
Residual     5.0  4.500000  0.900000       NaN       NaN

# QUESTION 11

An educational researcher is interested in whether a new teaching method improves student test
scores. They randomly assign 100 students to either the control group (traditional teaching method) or the
experimental group (new teaching method) and administer a test at the end of the semester. Conduct a
two-sample t-test using Python to determine if there are any significant differences in test scores
between the two groups. If the results are significant, follow up with a post-hoc test to determine which
group(s) differ significantly from each other.

In [32]:
# Python program to display variance of data groups

# Import library
import scipy.stats as stats

# Creating data groups
data_group1 = np.array([14, 15, 15, 16, 13, 8, 14,
						17, 16, 14, 19, 20, 21, 15,
						15, 16, 16, 13, 14, 12])
data_group2 = np.array([15, 17, 14, 17, 14, 8, 12,
						19, 19, 14, 17, 22, 24, 16,
						13, 16, 13, 18, 15, 13])

# Print the variance of both data groups
print(np.var(data_group1), np.var(data_group2))

7.727500000000001 12.260000000000002

In [33]:
stats.ttest_ind(a=data_group1, b=data_group2)

Ttest_indResult(statistic=-0.6337397070250238, pvalue=0.5300471010405257)

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey = pairwise_tukeyhsd(endog=dataframe['score'],
                          groups=dataframe['group'],
                          alpha=0.05)

#display results
print(tukey)

# QUESTION 12

A researcher wants to know if there are any significant differences in the average daily sales of three
retail stores: Store A, Store B, and Store C. They randomly select 30 days and record the sales for each store
on those days. Conduct a repeated measures ANOVA using Python to determine if there are any

significant differences in sales between the three stores. If the results are significant, follow up with a post-
hoc test to determine which store(s) differ significantly from each other.

In [ ]:
# Import library
import numpy as np
import pandas as pd
from statsmodels.stats.anova import AnovaRM

# Create the data
dataframe = pd.DataFrame({'A': np.repeat([1, 2, 3, 4, 5], 6),
						'B': np.repeat([1, 2, 3, 4,5,6], 5),
						'D': [36, 38, 30, 29,
									34, 38, 30, 29,
									34, 28, 38, 32,
									38, 34, 20, 44,
									26, 28, 34, 50,
                             38, 32,
									38, 34, 20, 44,
                             26, 28, 34, 50]})

# Conduct the repeated measures ANOVA
print(AnovaRM(data=dataframe, depvar='A',
			subject='B', within=['D']).fit())