# QUESTION 1

What are the key features of the wine quality data set? Discuss the importance of each feature in
predicting the quality of wine.

Most important feature is alcohol content, since higher the alcohol content, the greater is the quality of wine. Sulphates come next and after that citric acid since they both have a positive correlation.
Volatile acidity has a negative correlation to the quality metric. The higher quality wines are supposed to have lower volatile acidity. Rest all the other features do not impact that much

# QUESTION 2

How did you handle missing data in the wine quality data set during the feature engineering process?
Discuss the advantages and disadvantages of different imputation techniques.

There are mo missing alues in the dataset. Advantages of imputation such as mean, median is that you don't really have to delete or drop data whereas disadvantages is that you won't be getting accurate results or there would be a bias introduction.

# QUESTION 3

What are the key factors that affect students' performance in exams? How would you go about
analyzing these factors using statistical techniques?

Lunch plays a key role in student's performance. Correlation is the best metric to see with regards for the relation to the output.

# QUESTION 4

Describe the process of feature engineering in the context of the student performance data set. How
did you select and transform the variables for your model?

Process is to identify independent and target variables. Once identified, then the independent variables are broken into categorical and numerical. The categorical ones are encoded using one hot nominal encoding and some are encoded such as the degree with 0,1,2,3 giving a higher weightage to the better degree.

# QUESTION 5

Load the wine quality data set and perform exploratory data analysis (EDA) to identify the distribution
of each feature. Which feature(s) exhibit non-normality, and what transformations could be applied to
these features to improve normality?

In [10]:
import pandas as pd
df=pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [11]:
import matplotlib.pyplot as plt

Residual sugar shows non normality. Logarithimic , square root, exponential transformation can be done.

# QUESTION 6

Using the wine quality data set, perform principal component analysis (PCA) to reduce the number of
features. What is the minimum number of principal components required to explain 90% of the variance in
the data?

In [14]:
df=pd.read_csv('stud.csv')
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [17]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)

In [ ]:
principalComponents = pca.fit_transform(x)

principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])

In [ ]:
from sklearn.preprocessing import StandardScaler

features = ['gender', 'race_ethnicity', 'lunch', 'math_score']

# Separating out the features
x = df.loc[:, features].values

# Separating out the target
y = df.loc[:,['target']].values

# Standardizing the features
x = StandardScaler().fit_transform(x)